In [1]:
import pandas as pd
from pathlib import Path

In [2]:
df1 = pd.read_csv(Path("E:/quantium/quantium-starter-repo/data/daily_sales_data_0.csv"))
df2= pd.read_csv(Path("E:/quantium/quantium-starter-repo/data/daily_sales_data_1.csv"))
df3= pd.read_csv(Path("E:/quantium/quantium-starter-repo/data/daily_sales_data_2.csv"))
df_list = [df1, df2, df3]

df_final = pd.concat(df_list, axis=0)

In [7]:
df_final = df_final[df_final["product"] == "pink morsel"]
df = df_final.reset_index(drop=True)

In [12]:
df_final.head()

        product  price  quantity        date region
0   pink morsel    3.0       546  2018-02-06  north
1   pink morsel    3.0       549  2018-02-06  south
2   pink morsel    3.0       577  2018-02-06   east
3   pink morsel    3.0       519  2018-02-06   west
28  pink morsel    3.0       529  2018-02-07  north

In [15]:
df_final["sales"] = df_final["price"] * df_final["quantity"]
df_final.head()

        product  price  quantity        date region   sales
0   pink morsel    3.0       546  2018-02-06  north  1638.0
1   pink morsel    3.0       549  2018-02-06  south  1647.0
2   pink morsel    3.0       577  2018-02-06   east  1731.0
3   pink morsel    3.0       519  2018-02-06   west  1557.0
28  pink morsel    3.0       529  2018-02-07  north  1587.0

In [18]:
df_final = df_final.reset_index(drop=True)
df_final.head()

         date region   sales
0  2018-02-06  north  1638.0
1  2018-02-06  south  1647.0
2  2018-02-06   east  1731.0
3  2018-02-06   west  1557.0
4  2018-02-07  north  1587.0

In [19]:
df_final.to_csv("E:/quantium/quantium-starter-repo/data/df_final.csv")